<!DOCTYPE html>
<html lang="es-CO">
    <head>
        <title> Detektor </title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- #CSS Links -->
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Site.css">
        <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css" />
        <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

        <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/smartadmin-production-plugins.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/smartadmin-production.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/smartadmin-skins.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <!-- #FAVICONS -->
        <link rel="shortcut icon" href="@Session["conf_ico"]" type="image/x-icon">
        <link rel="icon" href="@Session["conf_ico"]" type="image/x-icon">
        <!-- #GOOGLE FONT
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"> -->
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <!-- We recommend you use "your_style.css" to override SmartAdmin
             specific styles this will also ensure you retrain your customization with each SmartAdmin update.-->
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/your_style.css">
        <!-- #APP SCREEN / ICONS -->
        <!-- Specifying a Webpage Icon for Web Clip
             Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="/Content/js/libs/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/bootstrap-select.min.js"></script>
        <script src="~/Scripts/daterangepicker.js"></script>
        <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="/Content/js/libs/jquery-2.1.1.min.js"><\/script>');
            }
        </script>
        <script src="/Content/js/libs/jquery-ui-1.10.3.min.js"></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="/Content/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
            }
        </script>
        <script type="text/javascript">
            function roundToTwo(num) {
                return +(Math.round(num + "e+2") + "e-2");
            }
        </script>
        <!-- END SHORTCUT AREA -->
        <!--================================================== -->
        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="/Content/js/plugin/pace/pace.min.js"></script>
    </head>
    <body class="minified desktop-detected pace-done  fixed-header  fixed-page-footer @Session["conf_theme"] mobile-view-activated">
        <header id="header">
            <!-- RIBBON -->
            <div style="@ViewBag.style" id="ribbon">
                <div id="logo-group">
                    <!-- PLACE YOUR LOGO HERE -->
                    <span id="logo"> <img style="width: 330px; margin-top: -8px; margin-left: -15px;" img src="~/img/LogoDetektor.png" alt="Logo"> </span>
                    <!-- END LOGO PLACEHOLDER -->
                </div>
                @*<span class="ribbon-button-alignment">
                    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                        <i class="fa fa-refresh"></i>
                    </span>
                </span>*@
                <div class="pull-right">
                    <!-- collapse menu button -->
                    <div id="hide-menu" class="btn-header pull-right">
                        <span> <a id="quitarBarra" href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                    </div>
                    <!-- end collapse menu -->
                    <!-- #MOBILE -->
                    <!-- Top menu profile link : this shows only when top menu is active -->
                    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                        <li class="">
                            <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                                <img src="/Content/img/avatars/sunny.png" alt="John Doe" class="online" />
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/login/cerrarsesion" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-user-times fa-lg"></i> <strong><u>S</u>alir</strong></a>
                                </li>                            
                            </ul>
                        </li>
                    </ul>
                    <!-- logout button -->
                    <div id="logout" class="btn-header transparent pull-right">
                        <span> <a href="/Home/Login" title="Cerrar Sesión" data-action="userLogout" data-logout-msg="Desea cerrar la sesión para este usuario"><i class="fa fa-user-times"></i></a> </span>
                    </div>
                    <!-- end logout button -->
                    <!-- search mobile button (this is hidden till mobile view port) -->
                    <div id="search-mobile" class="btn-header transparent pull-right">
                        <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
                    </div>
                    <!-- end search mobile button -->
                    <!-- fullscreen button -->
                    <div id="fullscreen" class="btn-header transparent pull-right">
                        <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
                    </div>
                    <!-- end fullscreen button -->
                    <!-- User info -->
                    <div style="color: white; margin-top: 10px; font-family: serif;font-size: 19px; margin-right: 10px;" class="btn-header transparent pull-right">
                        <span>@(ViewBag.miPerfil.usr_nombres)</span>
                    </div>
                    <div class="btn-header transparent pull-right">
                        <span><a href="javascript:void(0);" style="background:none; border:0; margin-top: 3px" id="show-shortcut" data-action="toggleShortcut"><img style="border-radius:50px; height:40px; width:42px;" src="data:image/jpg;base64,@(Convert.ToBase64String(ViewBag.miPerfil.usr_fotografia))" alt="me" class="online" /></a></span>
                    </div>
                    <!-- end user info -->
                </div>
                <!-- You can also add more buttons to the
                ribbon for further usability
                Example below:
                <span class="ribbon-button-alignment pull-right">
                <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
                <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
                <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
                </span> -->
            </div>
            <!-- END RIBBON -->
        </header>
            <aside id="left-panel">
                <!-- NAVIGATION : This navigation is also responsive-->
                <nav>
                    @if (ViewBag.mapa)
                    {
                        <ul>
                            <li>
                                <a id="btnConsulta" href="#"><i class="fa fa-fw fa-home"></i><span id="tituloConsulta" class="menu-item-parent">Consulta</span></a>
                            </li>
                        </ul>

                        <div id="divConsulta" style="display:none; padding:15px;" class="divConsulta">
                                
                        <!-- facet multi select form -->
                        @using (Html.BeginForm("NuevaConsulta", "Coordenadas", FormMethod.Post, new { @name = "multiselect-form", @id = "multiselect-form", @style = "margin-left: -12px;" }))
                        {
                            <div  class="col-md-12">
                                <div>
                                    <fieldset>
                                        <div id="industryDropdown" class="resource-dropdown">
                                            <div class="form-group">
                                                <select id="listaPlacas" name="select-industry" data-size="auto" class="selectpicker dropdown-content" multiple data-width="100%" data-actions-box="true" data-live-search="true" title="Placas" data-selected-text-format="count > 1">
                                                    <optgroup label="Grupo 1">
                                                        @for (int i = 0; i < ViewBag.lista.Count; i++)
                                                        {
                                                            <text>@string.Format("{0}", ViewBag.lista[i].usr_nombres)</text>
                                                            <option value="@ViewBag.lista[i].ID_Login">@string.Format("{0}", ViewBag.lista[i].usr_nombres)</option>
                                                        }
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            @*<li><input type="text" name="daterange" value="01/06/2016 1:30 PM - 01/06/2016 2:00 PM" /></li>*@

                            <div class='col-md-12'>
                                <div class="form-group">
                                    <div class='input-group date' id="datetimepicker6">
                                        <input id="fechaInicial" style="padding-left: 6px;" type='text' name="fechaInicial" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <div class='input-group date' id="datetimepicker7">
                                        <input id="fechaFinal" style="padding-left: 6px;" type='text' name="fechaFinal" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            //onclick="document.forms['multiselect-form'].submit(); return false;"
                            <a id="btnBuscarMapa" style="margin-left: 12px; width: 88%; height: 29px; padding-top: 2px; border-color: #B40000; background-color: #FE5656;" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-map-marker"></span>  Buscar</a>
                            }
                            </div>

                            }
                            @if (ViewBag.menu)
                            {
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-home"></i></a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-car"></i> <span class="menu-item-parent">Placas</span></a>
                                        <ul class="scrollbar" id="style-2" style="overflow:auto; max-height:480px;">
                                            @for (int i = 0; i < ViewBag.lista.Count; i++)
                                            {
                                                <li>
                                                    <a href="#"><i class="fa fa-user"></i>@String.Format("{0} {1}", ViewBag.lista[i].usr_nombres, ViewBag.lista[i].usr_apellidos)</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-laptop"></i> <span class="menu-item-parent">Aplicaciones</span></a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-book"></i>Combustible</a></li>
                                            <li><a href="#"><i class="fa fa-book"></i>Geocercas Embebidas</a></li>
                                            <li><a href="#"><i class="fa fa-book"></i>Gestion Alarmas</a></li>
                                            <li>
                                                <a href="#"><i class="fa fa-car"></i> <span class="menu-item-parent">Monitoreo en Mapas</span></a>
                                                <ul class="scrollbar" id="style-2" style="overflow:auto; max-height:360px;">
                                                    @using (Html.BeginForm("Index", "Coordenadas", FormMethod.Post, new { @name = "formIdPlacas", @id = "formIdPlacas", enctype = "multipart/form-data", target = "_blank" }))
                                                    {
                                                        <li style="text-align: right; margin-right: 15%;">
                                                            <a onclick="return false;" id ="btnBuscar" style="width: 120px; height: 27px; padding-top: 2px; border-color: #B40000; background-color: #FE5656;" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-map-marker"></span>  Buscar</a>
                                                        </li>
                                                        //document.forms['formIdPlacas'].submit();
                                                        for (int i = 0; i < ViewBag.lista.Count; i++)
                                                        {
                                                            <li>
                                                                <a href="#"><i class="fa fa-user"></i>@string.Format("{0} {1}", ViewBag.lista[i].usr_nombres, ViewBag.lista[i].usr_apellidos)<p style="float: right !important; text-align:right !important;"> <input type="checkbox" id="@ViewBag.lista[i].ID_Login" name="select-industry" value="@ViewBag.lista[i].ID_Login"> </p></a>
                                                            </li>
                                                        }
                                                        @Html.Hidden("Menu","true");
                                                    }
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="fa fa-book"></i>Mantenimiento Flotas</a></li>
                                            <li><a href="#"><i class="fa fa-book"></i>Seleccion de grupos</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-cog"></i> <span class="menu-item-parent">Configuraciones</span></a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-cog"></i>Alias</a></li>
                                            <li><a href="#"><i class="fa fa-cog"></i>Asignar Vehiculo Usuario</a></li>
                                            <li><a href="#"><i class="fa fa-cog"></i>Biblioteca de Rutas</a></li>
                                            <li><a href="#"><i class="fa fa-cog"></i>Creacion de Grupos</a></li>
                                            <li><a href="#"><i class="fa fa-cog"></i>Franjas de Tiempo</a></li>
                                            <li><a href="#"><i class="fa fa-cog"></i>Imagen Personalizada</a></li>
                                            <li><a href="#"><i class="fa fa-cog"></i>Usuarios</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-book"></i> <span class="menu-item-parent">Informes</span></a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-unlock"></i>Estadistico</a></li>
                                            <li><a href="#"><i class="fa fa-unlock"></i>Personalizado</a></li>
                                            <li><a href="#"><i class="fa fa-unlock"></i>Ultimo Punto</a></li>
                                            <li><a href="#"><i class="fa fa-unlock"></i>Zonas</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-users"></i> <span class="menu-item-parent">Desarrolladores</span></a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user"></i>Guillermo Plazas</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>Bryan Sanchez</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>Sergio Stiven</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>Ivan Velez</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
            </nav>
                <span id="btnOcultar" class="minifyme" data-action="minifyMenu">
                    <i class="fa fa-arrow-circle-left hit"></i>
                </span>
            </aside>

            <div id="main" role="main">
                <div id="content">
                    @RenderBody()
                </div>
            </div>

            <div id="shortcut">
                <ul>
                    <li>
                        <a href="/sistema/cambiarcontrasenia" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-key fa-4x"></i> <span>Contraseña </span> </span> </a>
                    </li>
                    <li>
                        <a href="/documentos/archivo" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-folder-open fa-4x"></i> <span>Archivos </span> </span> </a>
                    </li>
                </ul>
            </div>
            <!-- IMPORTANT: APP CONFIG -->
            <script src="/Content/js/app.config.js"></script>

            <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
            <script src="/Content/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

            <!-- BOOTSTRAP JS -->
            <script src="/Content/js/bootstrap/bootstrap.min.js"></script>

            <!-- CUSTOM NOTIFICATION -->
            <script src="/Content/js/notification/SmartNotification.min.js"></script>

            <!-- JARVIS WIDGETS -->
            <script src="/Content/js/smartwidgets/jarvis.widget.min.js"></script>

            <!-- EASY PIE CHARTS -->
            <script src="/Content/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

            <!-- SPARKLINES -->
            <script src="/Content/js/plugin/sparkline/jquery.sparkline.min.js"></script>

            <!-- JQUERY VALIDATE -->
            <script src="/Content/js/plugin/jquery-validate/jquery.validate.min.js"></script>

            <!-- JQUERY MASKED INPUT -->
            <script src="/Content/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

            <!-- JQUERY SELECT2 INPUT -->
            <script src="/Content/js/plugin/select2/select2.min.js"></script>

            <!-- JQUERY UI + Bootstrap Slider -->
            <script src="/Content/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

            <!-- browser msie issue fix -->
            <script src="/Content/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

            <!-- FastClick: For mobile devices -->
            <script src="/Content/js/plugin/fastclick/fastclick.min.js"></script>

            <!-- MAIN APP JS FILE -->
            <script src="/Content/js/app.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {

                    pageSetUp();
                })
            </script>

            <script type="text/javascript">

                $(function () {
                    $('#datetimepicker6').datetimepicker({
                        format: 'YYYY/MM/DD HH:mm'
                    });
                    $('#datetimepicker7').datetimepicker({
                        //useCurrent: false, //Important! See issue #1075
                        format: 'YYYY/MM/DD HH:mm'
                    });

                    $("#datetimepicker6").on("dp.change", function (e) {
                        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                    });

                    $("#datetimepicker7").on("dp.change", function (e) {
                        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                    });
                });
            </script>

    </body>
</html>