@model List<ZeusWeb.Models.CoordenadasContainerModel>
@{
    Layout = "~/Views/Shared/Master.cshtml";
}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        position: fixed !important;
        top: 40px;
        left: 45px;
        bottom: 4%;
        width: 100%;
        height: auto;
    }

    .cajas{
        float:left; 
        text-align:left; 
        width:13%; 
        margin-right:1%;
    }

    p {
        color: white;
    }
</style>
<div id='map'>

</div>


<footer style="margin-left:45px; position: fixed; bottom: 0px; left: 0; top: 96%; background-color:#3a3633; width:100%; padding-top:5px;" class="footer">
    <div style="width:100%;" class="container">

        <div class="cajas"><p><span style="color:#252CEC" class="glyphicon glyphicon-question-sign fa-2x"></span>&nbsp;<span style="position:absolute;">Rumbo cero</span></p></div>
        <div class="cajas"><p><span style="color:#8084F5" class="glyphicon glyphicon-flag fa-2x"></span>&nbsp;<span style="position:absolute;">Punto de inicio</span></p></div>
        <div class="cajas"><p><span style="color:#91A995" class="glyphicon glyphicon-dashboard fa-2x"></span>&nbsp;<span style="position:absolute;">Exceso de velocidad</span></p></div>
        <div style="margin-right:3%;" class="cajas"><p><span style="color:yellow;" class="fa fa-lightbulb-o fa-2x"></span>&nbsp;<span style="position:absolute;">Parada con motor encendido</span></p></div>
        <div style="margin-right:3%;" class="cajas"><p><span class="fa fa-lightbulb-o fa-2x"></span>&nbsp;<span style="position:absolute;">Parada con motor apagado</span></p></div>
        <div style="width:11%;" class="cajas"><p><span style="color:#8EF79F" class="fa fa-history fa-2x"></span>&nbsp;<span style="position:absolute;">Historico</span></p></div>
        <div class="cajas"><p><span style="color:#F73838;" class="glyphicon glyphicon-record fa-2x"></span>&nbsp;<span style="position:absolute;">Panicos</span></p></div>

    </div>
</footer>


<!-- EON Components REQUIRED FOR THE MAP -->
<script type="text/javascript" src="http://pubnub.github.io/eon/v/eon/0.0.9/eon.js"></script>
<link type="text/css" rel="stylesheet" href="http://pubnub.github.io/eon/v/eon/0.0.9/eon.css"/>
<script>
    var arrayFlechasRuta = [ "../../img/Flecha_Morado.png", "../../img/Flecha_Azul_Claro.png", "../../img/Flecha_Azul_Oscuro.png", "../../img/Flecha_Rojo.png", "../../img/Flecha_Rosado.png", "../../img/Flecha_Verde.png", "../../img/Flecha_Amarillo.png", "../../img/Flecha_Gris.png", "../../img/Flecha_Morado_Claro.png", "../../img/Flecha_Naranja_Claro.png", "../../img/Flecha_Naranja_Oscuro.png", "../../img/Flecha_Negro.png", "../../img/Flecha_Rojo_Oscuro.png", "../../img/Flecha_Verde_Claro.png", "../../img/Flecha_Verde_Intermedio.png" ];
    var arrayIconoCarroRuta = [ "../../img/icono_morado.png", "../../img/icono_azul_claro.png", "../../img/icono_azul_oscuro.png", "../../img/icono_rojo.png", "../../img/icono_rosado.png", "../../img/icono_verde.png", "../../img/icono_amarillo.png", "../../img/icono_gris.png", "../../img/icono_morado_claro.png", "../../img/icono_naranja_claro.png", "../../img/icono_naranja_oscuro.png", "../../img/icono_negro.png", "../../img/icono_rojo_oscuro.png", "../../img/icono_verde_claro.png", "../../img/icono_verde_intermedio.png" ];
    var Keys = PUBNUB({ subscribe_key: 'sub-c-f076a8c8-2b78-11e6-b700-0619f8945a4f', secure: true, ssl: true });
    var unique_channel = PUBNUB.uuid();
    var markers = new L.FeatureGroup();
    var relacion_ID_Usuario_Icono = {};
    var ultimosPuntos = {};
    var contador = 0;
    var pn;

    L.RotatedMarker = L.Marker.extend({
        options: { angle: 0 },
        _setPos: function(pos) {
            L.Marker.prototype._setPos.call(this, pos);
            this._icon.style[L.DomUtil.TRANSFORM] += ' rotate(' + this.options.angle + 'deg)';
        }
    });

    var map = eon.map({
        pubnub: Keys,
        id: 'map',
        mb_token: 'pk.eyJ1IjoiemlkYW1lIiwiYSI6ImNpcG8yOXN2azAwdW9mdW0zeWpnOHpxZzcifQ.l_1K8H_isCv80bnAv-G8og',
        mb_id: 'ianjennings.l896mh2e',
        channel: unique_channel,
        connect: connect,
        rotate: true,
        options: {
            zoomAnimation: false,
        },
        marker: function (latlng, data) {
            var marker = new L.RotatedMarker(latlng, {
                icon: L.icon({
                    iconUrl: arrayIconoCarroRuta[relacion_ID_Usuario_Icono[data[1]]],
                    iconSize: [30, 45]
                })
            }).bindPopup(data[0]);

            return marker;
        },
        message: function (datos) {
            var index = datos[Object.keys(datos)[0]].data[1];
            var marker = ultimosPuntos[index];

            if(marker != "" && typeof marker != 'undefined')
            {
                marker.setIcon(L.icon({
                    iconUrl: arrayFlechasRuta[relacion_ID_Usuario_Icono[index]],
                    iconSize: [30, 45]
                }));
                ultimosPuntos[index] = "";
            }
        }
    });

    @if (Model.Count() > 0)
    {
        bool hasViewSet = false;

        foreach (var item in ViewBag.ID_Suscriptores_Int)
        {
            <text>
                if(arrayIconoCarroRuta.length == contador)
                {
                    contador = 0;
                }

                relacion_ID_Usuario_Icono['@item'] = contador;
                contador += 1;
            </text>
        }

        foreach (var containerModel in Model)
        {
            if (containerModel.coordenadasContainer.Count() == 0)
            {
                continue;
            }

            List<ZeusWeb.Models.CoordenadasModel> coordenadasUsuarioUnico = containerModel.coordenadasContainer;

            if (!hasViewSet)
            {
                <text>
                    var latitudPrimeraCoordenada = parseFloat(@coordenadasUsuarioUnico.First().Latitud.ToString().Replace(',', '.'));
                    var longitudPrimeraCoordenada = parseFloat(@coordenadasUsuarioUnico.First().Longitud.ToString().Replace(',', '.'));
                    map.setView([latitudPrimeraCoordenada, longitudPrimeraCoordenada], 15);
                </text>
                hasViewSet = true;
            }

            foreach (var item in coordenadasUsuarioUnico)
            {
                var ultimoPunto = (item == coordenadasUsuarioUnico.First());
                <text>
                    var latitud = @item.Latitud.ToString().Replace(',', '.');
                    var longitud = @item.Longitud.ToString().Replace(',', '.');

                    var stringPopUp = "Placa: " + '@item.Nombre_Completo' + " <br> " + "Fecha: " + '@item.Tiempo' + " <br> " + "Latitud: " + latitud +  " <br> " + "Longitud: " + longitud +  " <br> " + "Velocidad: " + '@item.Velocidad' +  " <br> " +"ID: " + '@item.ID_usuario' + " <br> " + "Direccion: " + '@item.Direccion';
                    var marker = new L.RotatedMarker([latitud,longitud], {
                        icon: L.icon({
                            @if (ultimoPunto)
                            {
                                <text>
                                    iconUrl: arrayIconoCarroRuta[relacion_ID_Usuario_Icono['@item.ID_usuario']],
                                </text>
                            }
                            else {
                                <text>
                                    iconUrl: arrayFlechasRuta[relacion_ID_Usuario_Icono['@item.ID_usuario']],
                                </text>
                            }
                            iconSize: [30, 45]
                        }),
                        angle: @item.Bearing.ToString().Replace(',', '.'),
                        riseOnHover: true
                    }).bindPopup(stringPopUp);

                    marker.on('mouseover', openPopup);
                    marker.on('mouseout', closePopup);

                    markers.addLayer(marker);

                    @if (ultimoPunto)
                    {
                        <text>
                            ultimosPuntos['@item.ID_usuario'] = marker;
                        </text>
                    }
                </text>
            }
        }
        <text>
            map.addLayer(markers);
        </text>
        }
    else
    {
        if (ViewBag.vengoDelMenu)
        {
            <text>
                map.setView([3.863315, -73.433309], 8);
            </text>
        }

        <text>
            alert('No se Encontraron Registros');
        </text>
    }

    function connect() {
        pn = PUBNUB.init({
            publish_key: 'pub-c-873c406e-047c-4a4a-a0d9-6d8176a935e8',
            subscribe_key: 'sub-c-f076a8c8-2b78-11e6-b700-0619f8945a4f'
        });

        pn.subscribe({
            channel: [@ViewBag.ID_Suscriptores],
            message: function (message) {
                var latitud = message.Latitud;
                var longitud = message.Longitud;
                var ID = message.ID_Usuario_Ubicacion;
                var stringPopUp = "Placa: " + message.Nombre_Usuario + " <br> " + "Fecha: " + message.Tiempo + " <br> " + "Latitud: " + latitud +  " <br> " + "Longitud: " + longitud +  " <br> " + "Velocidad: " + message.Velocidad +  " <br> " +"ID: " + ID + " <br> " + "Direccion: " + message.Direccion;

                pn.publish({
                    channel: unique_channel,
                    message:
                        {
                           [ID]:{
                               latlng: [latitud, longitud],
                               data: [stringPopUp, ID]
                           }
                        }
                });
            }
        });
    };

    function closePopup(e) {
        this.closePopup();
    }

    function openPopup(e) {
        this.openPopup();
    }

    $('#btnBuscarMapa').click(function () {
        var salir = false;
        $('#listaPlacas option').each(function () {
            if ($(this).is(':selected'))
            {
                salir = true;
                return false;
            }
            if (salir == true)
            {
                return false;
            }
        });

        if (salir == false) {
            alert('Selecciona una placa');
            return;
        }

        if ($('#fechaInicial').val().length === 0) {
            alert('Seleccione una fecha inicial');
            return;
        }
        else if ($('#fechaFinal').val().length === 0) {
            alert('Seleccione una fecha Final');
            return;
        }
        else {
            $.ajax({
                url: $('#multiselect-form').attr('action'),
                data: $('#multiselect-form').serialize(),
                type: "POST",
                dataType: 'json',
                success: function (datos) {
                    if (datos.length == 0)
                    {
                        alert("No se encontraron registros");
                        return;
                    }

                    map.removeLayer(markers);
                    markers.clearLayers();
                    var contadorConsulta = 0;

                    $.each(datos, function (indexador, data) {
                        if(data.coordenadasContainer.length == 0)
                        {
                            return true;    
                        }

                        $.each(data.coordenadasContainer, function (index, user) {
                            if(indexador > arrayIconoCarroRuta.length)
                            {
                                contadorConsulta = 0; 
                            }

                            var latitud = user.Latitud.toString().replace(',', '.');
                            var longitud = user.Longitud.toString().replace(',', '.');
                            var stringPopUp = "Placa: " + user.Nombre_Completo + " <br> " + "Fecha: " + user.Tiempo + " <br> " + "Latitud: " + latitud +  " <br> " + "Longitud: " + longitud +  " <br> " + "Velocidad: " + user.Velocidad +  " <br> " +"ID: " + user.ID_usuario + " <br> " + "Direccion: " + user.Direccion;
                            var url = arrayFlechasRuta[contadorConsulta];
                            
                            if(index == 0)
                            {
                                map.setView([latitud, longitud], 15);
                                url = arrayIconoCarroRuta[contadorConsulta];
                            }

                            var marker = new L.RotatedMarker([latitud,longitud], {
                                icon: L.icon({
                                    iconUrl: url,
                                    iconSize: [30, 45]
                                }),
                                angle: user.Bearing.toString().replace(',', '.'),
                                riseOnHover: true
                            }).bindPopup(stringPopUp);

                            marker.on('mouseover', openPopup);

                            marker.on('mouseout', closePopup);
                            markers.addLayer(marker);
                        });
                        contadorConsulta += 1;
                    });

                    pn.unsubscribe({
                        channel : [@ViewBag.ID_Suscriptores],
                    });
                    map.addLayer(markers);
                },
                error: function () {
                    alert("ERROR");
                }
            });
        }
    });
</script>


<script type="text/javascript">
            $(document).ready(function () {
                var barraVisible = true;
                var sinBarra = true;

                $('#btnConsulta').click(function () {
                    if ($('#divConsulta').css('display') == 'none') {
                        $('#divConsulta').css({ 'display': 'block' });
                        $('#fechaInicial').css({ 'font-size': '13px', 'padding-right': '6px' });
                        $('#fechaFinal').css({ 'font-size': '13px', 'padding-right': '6px' });
                    }
                    else {
                        $('#divConsulta').css({ 'display': 'none' });
                    }
                });


                $('#quitarBarra').click(function () {
                    if (sinBarra === true)
                        sinBarra = false;
                    else
                        sinBarra = true;

                    if (sinBarra === false) {
                        $('#map').css({ 'left': '0px' });
                    }
                    else {
                        $('#map').css({ 'left': '220px' });
                    }
                });


                $('#btnOcultar').click(function () {

                    if (barraVisible === true)
                        barraVisible = false;
                    else
                        barraVisible = true;

                    $('#divConsulta').css({ 'display': 'none' });

                    if (barraVisible === false) {
                        $('#tituloConsulta').css({ 'display': 'inline-block' });
                        $('#map').css({ 'left': '220px' });
                    }
                    else {
                        $('#tituloConsulta').css({ 'display': 'none' });
                        $('#map').css({ 'left': '45px' });
                    }
                });

                $('#btnConsulta').mouseenter(function () {
                    if (barraVisible === true) {
                        $('#divConsulta').addClass("divConsultahover");
                        $('#fechaInicial').css({ 'font-size': '11px', 'padding-right': '2px' });
                        $('#fechaFinal').css({ 'font-size': '11px', 'padding-right': '2px' });
                    }
                });

                $('#btnConsulta').mouseleave(function () {
                    if (barraVisible === true) {
                        $('#divConsulta').removeClass("divConsultahover");
                    }
                });

                $('#divConsulta').mouseenter(function () {
                    if (barraVisible === true) {
                        $('#divConsulta').addClass("divConsultahover");
                        $('#fechaInicial').css({ 'font-size': '11px', 'padding-right': '2px' });
                        $('#fechaFinal').css({ 'font-size': '11px', 'padding-right': '2px' });
                        $('#tituloConsulta').show();
                    }
                });

                $('#divConsulta').mouseleave(function () {
                    if (barraVisible === true) {
                        $('#divConsulta').removeClass("divConsultahover");
                        $('#tituloConsulta').hide();
                    }
                });
            });
</script>